@font-face {
    font-family: 'Inter-Thin';
    src: url(../assets/font/Inter/static/Inter-Medium.ttf);
}

@font-face {
    font-family: 'IMF';
    src: url(../assets/font/IM_Fell_French_Canon_SC/IMFellFrenchCanonSC-Regular.ttf);
}

@font-face {
    font-family: 'Inter-semibold';
    src: url(../assets/font/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter-ExtraLight';
    src: url(../assets/font/Inter/static/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'DeliciousHandrawn';
    src: url(../assets/font/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf);
}

@font-face {
    font-family: 'NunitoExtraLight';
    src: url(../assets/font/Nunito_Sans/NunitoSans-ExtraLight.ttf);
}

@font-face {
    font-family: 'Monserrat';
    src: url(../assets/font/Monserrat/static/Montserrat-Regular.ttf);
}

* {
    padding: 0%;
    margin: 0%;

}

a:link {

    text-decoration: none;
    color: inherit;
}

/* contenedor Principal*/

.contenedor-guarderia {
    position: absolute;
    top: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1/4fr);
    grid-template-rows: repeat(4, auto);
    grid-area: "s1 s1 s1 s1"
        "s2 s2 s2 s2"
        "s3 s3 s3 s3"
        "s4 s4 s4 s4";
    height: auto;
    background-color: #EEC373;


}

/* main */
.s1 {
    grid-area: "s1";
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-image: url(../assets/img/main.jpg);
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-color: #EEC373;
}

/* secciones */
#s2 {
    grid-area: "s2";
    display: flex;

    flex-direction: column;
    width: auto;
    align-items: center;
    height: auto;

}

#s2>.cuadro2 {
    display: flex;
    width: 75%;
    height: auto;
    color: rgb(24, 23, 23);
    background-color: beige;
    border-radius: 30px;
    font-family: 'Inter-ExtraLight';
    font-size: 20px;
    padding: 70px 30px 70px 30px;
    text-align: center;
    margin: 15px;
}

#s2>.Contenedor-imagenes {

    display: flex;
    height: auto;
    margin: 25px;
    flex-direction: row;
}

#s2>.Contenedor-imagenes>.imagen {

    display: flex;
    width: 200px;
    height: 100px;
}

#s3 {
    grid-area: "s3";
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 10px 0px 30px 0px;
    height: auto;
    font-family: 'Inter-extralight';
    font-size: 20px;
    text-align: center;
    color: rgb(97, 97, 96);
    background-color: #EEC373;
    align-content: center;
    /*box-shadow: 50px grey;*/
}

#s4 {
    grid-area: "s4";
    display: flex;
    font-family: 'Monserrat';
    font-size: large;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    height: 1fr;
    width: 20%;
    top: 90%;
    background-color: beige;
    position: fixed;
    text-transform: uppercase;
    padding: 5px;
}

.textoChico {

    color: rgb(236, 230, 230);
    font-family: 'Inter-Thin';
    font-size: 20px;
}

#p1 {
    font-family: 'IMF';
    font-size: 36;
    font-weight: bolder;
    color: rgb(74, 73, 75);
    text-transform: uppercase;
    padding: 20px;
}

#p2 {
    font-family: 'NunitoExtraLight';
    font-size: large;
    padding: 40px;
}


.cuadro {
    width: 22%;
    height: auto;
    background-color: beige;

    border-radius: 10px;
    margin: 50px 50px 50px 50px;
    padding: 0px;
    top: 0%;
    right: 0px;
}

h1 {
    font-family: 'IMF';
    padding: 75px;
    text-transform: uppercase;
    font-size: 50px;
}

.imagen:hover {
    transform: scale(4, 4);

}

.imagen {
    padding: 3px;
    /* border-style: double;
    border-width: 1px;
    border-color: whitesmoke; */


}