*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Sofia Sans Extra Condensed', serif;
    font-size: 2em;
}

/* Cabecera */
#header{
    width: 100%;
    height: 130px;
    background-color: #EEC373;
}

/* Logo / imagen logo */
#header #logo img{
    float: left;
    width: auto;
    height: 100px;
    padding-top: 15px;
    padding-left: 15px;
}

/* Header H1 */
#header h1{
    text-align: center;
    padding-top: 25px;
    padding-right: 100px;
    text-decoration: none;
    font-size: 60px;
    color: #603601;
    font-family: 'Sofia Sans Extra Condensed', serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0px 2px 1px #876445;   

}

/* Header H1 vinculo*/
#header h1 a{
    color: #603601;
    text-decoration: none;
}

/* Nav */
#nav{
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #603601;
    text-decoration: none;
}

/* Nav / indices (paginas) */
#nav ul li{
    font-size: 24px;
    font-family: 'Sofia Sans Extra Condensed', serif;
    display: inline;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 50px;
}

/* Nav / indices (paginas) link */
#nav ul li a{
    color: white;
    text-decoration: none;
}

/* main */
.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/* TARJETAS */
.d1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid #603601;
    background-color: white; 
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px; 
    margin: 15px;
    text-align: center;
}
.d2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    border: 1px solid #603601;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px; 
    margin: 15px;
    text-align: center;
}
.d3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    border: 1px solid #603601;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px; 
    margin: 15px;
    text-align: center;
}


@media (max-width:800px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
    .d1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .d2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .d3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    /* Logo / imagen logo */
    #header #logo img{
        float: left;
        width: auto;
        height: 80px;
        padding-top: 25px;
        padding-left: 15px;
    }
    /* Header H1 */
    #header h1{
        float: center;
        padding-top: 40px;
        text-decoration: none;
        font-size: 50px;
        font-family: 'Sofia Sans Extra Condensed', serif;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-shadow: 0px 2px 1px #876445;   
    
    }
    /* Header H1 vinculo*/
    #header h1 a{
        text-decoration: none;
    }
}


/*FOOTER*/
#footer{
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #603601;
    text-decoration: none;
    color: white;
}

#footer p{
    display: inline;
    letter-spacing: 3px;
    text-align: center;
    font-size: 20px;
    font-family: 'Sofia Sans Extra Condensed', serif;
    color: white;
}

#footer a{
    text-decoration: none;
    color: white;
}